@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Poppins', 'Montserrat', system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Basic styles that don't rely on Tailwind */
body {
  margin: 0;
  padding: 0;
}
